body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $primary-color;
  color: $body-color;
  line-height: 1.4;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

.App {
  text-align: left;

  &-logo {
    height: 2rem;
    pointer-events: none;
    margin: 1rem;
  }

  &-header {
    background-color: $primary-color;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
    padding: 0 2rem;
    max-width: 1200px;
    margin: 0px auto;
  }

  &-link {
    color: $link-color;
  }

  &-main {
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    margin: 0px auto;
    padding: 0 2rem;
  }
}

a {
  color: $link-color;

  &:hover{
    color: lighten($link-color, 10);
  }
}
