.banner {
  display: flex;
  flex-direction: row;
  margin: 3rem 0;

  @media only screen AND (max-width: $screen-xs-max){
    flex-direction: column;
  }

  &__content {
    margin: 0 0 0 2rem;

    @media only screen AND (max-width: $screen-xs-max){
      margin: 0;
    }
  }
}