.episodes-list {
  flex: 1;
  flex-direction: column;
  display: flex;
  margin: 0 0 3rem;


  table {


    > tr {
      &:nth-child(odd){
        background-color: rgba(255,255,255,.06);
      }

      &:hover {
        &:nth-child(odd){
          background-color: rgba(255,255,255,.09);
        }
        &:nth-child(even){
          background-color: rgba(255,255,255,.03);
        }
      }
    }
    td {
      padding: .5rem 1rem;

      @media only screen AND (max-width: $screen-xs-max){
        display: block;
      }
    }


  }
}