$primary-color: #111;
$secondary-color: #ff3746;
$body-color: #FFF;

$button-background-color: $secondary-color;
$button-text-color: $body-color;
$link-color: $secondary-color;


$screen-xs-max: 767px;